.tab-content {padding: 10px; border: 1px solid #ddd; border-top: 0px;}
.tab-content .active {display: block;}

.product {height: 1100px;}

.nav-header {border-bottom: 1px solid #ddd; cursor: pointer; padding: 5px 15px;}
.menu-header {
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.3em;
    padding: 5px 15px;
}
.tree {
    border-bottom: 1px solid #ddd;
    display: none;
    list-style: outside none none;
    padding: 10px 0 10px 20px;
}

.menu {margin-top: 30px;}


#catalog-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color whitesmoke whitesmoke;
    border-image: none;
    border-right: 1px solid whitesmoke;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    list-style: outside none none;
    padding: 0;
}
#catalog-menu .active { color: red;}
#catalog-menu .tree.active {display: block;}

#catalog-menu {position: relative;}
#catalog-menu .tree {position: absolute; left: 100%; top:-3px; width: 250px; padding: 0; padding-left: 10px; border: 1px solid #ddd; background: #fff; z-index: 10;}
#catalog-menu .tree li {padding: 5px;}

.scrollTop {right: 40px; width: 70px; height: 50px; padding: 10px; bottom: 20px; font-size: 14px; text-align: center; position: fixed; bottom: -10px; display: none;}
.scrollTop:hover {bottom: 0px;}
